*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
:root{
  --light-theme-bg:linear-gradient(to bottom, #7397F1 0%, #A2B3EC 25%, #C4CBF0 57%, #D5D7F2 100%);
  --dark-theme-bg:linear-gradient(to bottom, #0B0C10 0%, #1B1D22 13%, #2D3034 100%);
  --light-color:#172145;
  --dark-color:#66FCF1;
}
html{
  font-size: 10px;
}
body{
  font-family: "Roboto";
  font-size: 1.6rem;
}
main{
  background:var(--light-theme-bg);
  color: var(--light-color);
  min-height: 100vh;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
  transition: background 0.15s ease , color 0.15s ease;

  &.dark{
    background: var(--dark-theme-bg);
    color: var(--dark-color);

    
    & .shape-icon{
      animation:moveToSun 0.5s ease forwards;
      fill:var(--dark-color);
    }
    &  .cover-circle{
      transform:translate(15px,0px);
    }
    & g > circle{
      animation:showRays .5s ease forwards;
      animation-delay:calc(var(--circle-num) * 0.05s);
    }
    

    & .bar-icon > div{
      background-color: var(--dark-color);
    }
    & .sidebar{
      background-color: black;
    }
    ul li::before{
      background-color: var(--dark-color);
    }
    & .sidebar ul li:last-child span{
      opacity: 0;
    }
    & .sidebar ul li:last-child::after{
      opacity: 1;
    }
  }
  &.light{
    & .shape-icon{
      animation:moveToMoon 1s ease forwards;
    }
  }
}
header{
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  padding: 0px 10px;
}
ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  gap: 40px;
  font-size: 1.5rem;

  & li{
    position: relative;
    cursor: pointer;
    &::before{
      content: '';
      position: absolute;
      top:100%;
      left: 50%;
      width: 0%;
      height: 2px;
      background-color: var(--light-color);
      transition: width 0.15s ease , left 0.15s ease;
    }

    &:hover::before{
      left: 0%;
      width: 100%;
    }
  }
}
.theme-icon{
  width:25px;
  height:25px;
  display:flex;
  cursor:pointer;
}
svg{
  width:100%;
  height:100%;
  transform:rotate(40deg);
  overflow:visible;

  & mask rect{
    width:100%;
    height:100%;
  }
  
  & .shape-icon{
    transform-origin:center center;
    transform:rotate(0deg) scale(1);
    transition:fill .15s ease;
    fill:var(--light-color);
  }
  & .cover-circle{
    transform:translate(0px,0px);
    transition:transform 0.5s ease;
  }
  & g > circle{
    transform-origin:center center;
    transform:scale(0);
    fill:var(--dark-color);
  }
}
.bar-icon{
  height: 22px;
  width: 22px;
  display: none;
  cursor: pointer;
  position: fixed;
  top: 16px;
  right: 15px;
  z-index: 2;
  transition: transform .35s ease;
  & > div{
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: var(--light-color);
    transition: transform .35s ease;

    &:nth-child(2){
      top:8px;
    }
    &:nth-child(3){
      top:16px;
    }
  }
  &.active{
    transform: rotate(-90deg);
  }
  &.active  > div:nth-child(1){
    transform: rotate(-45deg) translate(-5.5px,6px);
  }
  &.active  > div:nth-child(2){
    transform: rotate(180deg) scale(0);
  }
  &.active  > div:nth-child(3){
    transform: rotate(45deg) translate(-5.5px,-6px);
  }
}
.sidebar{
  display: none;
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 300px;
  background-color: white;
  padding:50px 0px 0px 15px;
  clip-path: inset(0px 0px 0px 300px);
  transition: clip-path 0.5s ease;

  & ul{
    flex-direction: column;
    gap: 20px;
    align-items: start;
    & li{
      position: relative;
      display: flex;
      align-items: center;
      gap: 10px;
    }
    & li:last-child span{
      opacity: 1;
    }
    & li:last-child::after{
      position: absolute;
      content: 'Light Mode';
      color:var(--dark-color);
      opacity: 0;
      font-size: 1.5rem;
    }
    & li:last-child span,
    & li:last-child::after{
      transition: opacity .15s ease;
    }
  }
  &.show{
   clip-path: inset(0px 0px 0px 0px);
  }
}
.theme-icon-side{
  display: flex;
  align-items: center;
  width: 20px;
  aspect-ratio: 1;
}
@media (max-width:650px){
  .bar-icon,
  .sidebar{
    display: block;
  }
  header ul,
  .theme-icon{
    display: none;
  }
}
/*keyframes*/
@keyframes moveToSun{
  to{
    transform:rotate(90deg) scale(.55);
  }
}
@keyframes showRays{
  0%{
    transform:scale(0);
  }
  70%{
    transform:scale(1.1);
  }
  100%{
    transform:scale(1); 
  }
}
@keyframes moveToMoon{
  0%{
    transform:rotate(90deg) scale(.55);   
  }
  50%{
    transform:rotate(-15deg) scale(1);     
  }
  85%{
    transform:rotate(0deg) scale(1);     
  }
}